/* stopwatch.css */

body {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    width: 100%;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    background-color: wheat;
    margin: auto;
    padding: 0%;
}

.container1 {
    padding: 1rem;
    background-color: aliceblue;
    border-radius: 20px;
    width: 30%;
    text-align: center;
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
}

.displayTimer {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 139, 253, 0.25);
    font-family: 'Roboto mono', monospace;
    font-size: x-large;
}

h1 {
    color: rgb(39, 39, 105);
    text-align: center;
}

button {
    padding: 0.4rem 1rem;
    margin: 0.2rem 0.2rem;
    border-radius: 10px;
    border: 1px solid #f8f8f8;
    font-weight: bold;
}

/* Styles for the div above container1 */
/* .div1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
} */

/* Responsive Styles */

@media only screen and (max-width: 600px) {
    .container1 {
        width: 85%;
    }

/*     img {
        width: 55px;
    } */


}
